@media only screen and (min-width: 768px) and (max-width: 959px) {

header,
main,
footer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

/* MAKET */

.row {
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	width: 768px;
}

.col { overflow: hidden;
}

.col--1-1 { 
	width: 100%;
}

.col--1-2 {
	width: 481.2px;
}

.col--1-3 {
	width: 320.8px;
}

.col--7-12 {
	width: 561.4px;
}

.col--5-12 {
	width: 401px;
}

.col--1-8 {
	width: 641.6px;
}

.col--1-12 {
	width: 80.2px;
}

.row--768 {
	flex-direction: column;
}

.x768 {
	width: 100%;
}

/* HEADER */

header {
	height: 798px;
	border-bottom: 1px solid #000;
	background: url('../../images/background.jpg') no-repeat center top;
}

	/* HEADER--logo */
.logo {
	color: white;
	font-size: 47px;
	padding-top: 66px;
	padding-left: 20px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
}

.logo--shadow {
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.logo--gradient {
	background: -webkit-linear-gradient(#745083, #322539);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

	/* HEADER--menu */

.menu--top {
	margin-left: 13px;
}

.menu__item {
	display: inline-block;
	margin-right: 37px;
	padding: 32px 5px 2px 6px;	
}

.menu__item:last-child {
	margin-right: 0px;
	padding: 32px 0 2px 6px;		
}

.menu__item:hover {
	border-bottom: 2px solid #edbfff;
}

.menu__link {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 24px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
	color: #ffffff;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

	/* HEADER--slider */
.row--slider-background {
	margin-top: 244px;
	height: 400px;
	width: 100%;
	background: #000;
	opacity: 0.2;
	position: absolute;
}

.slider-button-left {
	height: 34px;
	position: absolute;
	top: 181px;
	left: 5px;
}

.slider-button-right {
	height: 35px;
	position: absolute;
	top: 182px;
	right: 5px;
}

.slider-button-icons {
	height: 19px;
	position: relative;
	top: 436px;
    left: 497px;
}

.slider {
	margin-top: 177px;
    margin-left: 42px;
}

.slider__title {
	line-height: 38px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
    font-size: 48px;
    color: #fefefe;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.slider__sub-title {
    padding-top: 6px;
    padding-bottom: 1px;
    line-height: 36px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
    font-size: 24px;
    color: #edbfff;
   	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.hidden  {
	display: none;
}

.slider__content {
	width: 285px;
	height: 100px;
	line-height: 26px;
    padding-right: 40px;
	font-family: 'Opensans Light', Arial, sans-serif;
    font-size: 16px;
    color: #ffffff;
    font-weight: lighter;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	hyphens: manual;
}

.slider-image {
	position: relative;
	top: -127px;
	right: 42px;
}
/* <-- HEADER END --> */


/* ABOUT */
.section--about {
	border-bottom: 1px solid #0d151b;
	background: linear-gradient(to top, #322539 0%, #745083 100%);
	color: #fff;
	padding-top: 71px;
	padding-bottom: 67px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.section__wrapper {
	width: 768px;
	display: flex;
	flex-direction: row;
}

.block {
	width: 256px;
	position: relative;
}

.block__icon {
	position: absolute;
}

.block__icon--blurb-1 {
	width: 25px;
	height: 50px;
    margin-top: 9px;
    margin-left: 33px;
	background: url(../../images/blurb-icons.png) 0 0 no-repeat;
	display: inline-block;
}

.block__icon--blurb-2 {
	width: 25px;
	height: 50px;
    margin-top: 9px;
    margin-left: 29px;
	background: url(../../images/blurb-icons.png) 0 0 no-repeat;
}

.block__icon--blurb-3 {
	width: 25px;
	height: 50px;
	margin-top: 9px;
	margin-left: 34px;
	background: url(../../images/blurb-icons.png) 0 0 no-repeat;
}

.block__title {
	font-size: 24px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
	text-transform: uppercase;
}

.block__title--blurb-1 {
	margin-top: 5px;
	margin-left: 82px;	
	text-shadow: 1px 1px 0 #000; /* Параметры тени */
}

.block__title--blurb-2 {
	margin-top: 4px;
	margin-left: 78px;	
	text-shadow: 1px 1px 0 #000; /* Параметры тени */
}

.block__title--blurb-3 {
	margin-top: 4px;
	margin-left: 83px;	
	text-shadow: 1px 1px 0 #000; /* Параметры тени */
}

.block__content {
	font-size: 16px;
	line-height: 24px;
	font-family: 'Opensans Light', Arial, sans-serif;
	overflow: hidden;
	hyphens: manual;
}

.block__content--blurb-1 {
	width: 160px;
	margin-top: 4px;
	margin-left: 83px;
	height: 142px;
	text-shadow: 1px 1px 0 #000; /* Параметры тени */
}

.block__content--blurb-2 {
	width: 160px;
	margin-top: 4px;
	margin-left: 79px;
	height: 142px;
	text-shadow: 1px 1px 0 #000; /* Параметры тени */
}

.block__content--blurb-3 {
	width: 160px;
	margin-top: 4px;
	margin-left: 83px;
	height: 142px;
	text-shadow: 1px 1px 0 #000; /* Параметры тени */
}

.block__link {
    margin-top: 9px;
	font-size: 19px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
	text-shadow: 0 0 2px black; /* Параметры тени */
	text-transform: uppercase;
	text-align: right;
	display: block;
}

.block__link--first {
    margin-right: 24px;
}

.block__link--second {
    margin-right: 28px;
}

.block__link--third {
    margin-right: 24px;
}

.block__link:hover {
	text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
	cursor: pointer;
}


/* MAIN */
main {
	height: 485px;
	border-top: 1px solid #f9f9f9;
	border-bottom: 1px solid #e6e6e6;
	background: #f9f9f9;
}

.block--recent-updates,
.block__article--testimonials {
	margin-top: 127px;
}

.block__icon--testimonials {
	width: 47px;
	height: 47px;
}

.block__icon--testimonials,
.block__icon--recent-updates-1,
.block__icon--recent-updates-2,
.block__icon--recent-updates-3 {
	width: 47px;
	height: 47px;
    position: absolute;
    border-radius: 50px;
    left: 29px;
}

.block--testimonials {
	background: #fff;
	margin-left: 18px;
	margin-bottom: 20px;
    width: 317px;
    height: 272px;
	top: -30px;
	left: 23px;
}

.block__article--testimonials {
	margin-top: 127px;
	padding-top: 31px;
	padding-left: 40px;
	padding-right: 30px;
    height: 205px;
    overflow: hidden;
}

.block__icon--testimonials {
	top: 20px;
	left: -22px;
	background: url('../../images/testimonials-avatar.png') 0 0 no-repeat;
}

.block__title--testimonials {
	padding-bottom: 7px;
	width: 130px;
	color: #454545;
}

.testimonials__pages {
	position: absolute;
	width: 89px;
	height: 28px;
    top: 297px;
    left: 117px;
	background: url('../../images/testimonials-radio-buttons.png') 0 0 no-repeat;
}

.block__title--testimonials span {
	color:#edbfff;
}

.block__icon--recent-updates-1 {
    top: 47px;
    background: url('../../images/recent-update-icon.jpg') -176px -29px no-repeat;
}

.block__icon--recent-updates-2 {
    top: 114px;
    background: url('../../images/recent-update-icon.jpg') -157px -91px no-repeat;
}

.block__icon--recent-updates-3 {
    top: 178px;
    background: url('../../images/recent-update-icon.jpg') -90px -109px  no-repeat;
}

.block__title--recent-updates {
	margin-left: 28px;
	padding-bottom: 16px;
	font-size: 30px;
}

.block__sub-title--recent-updates {
	width: 380px;
	margin-left: 94px;
	line-height: 24px;
    font-size: 16px;
    font-family: 'open_sansextrabold', arial, sans-serif;
    font-weight: 900;
    color: #454545;
}

.block__content--recent-updates {
	width: 380px;
	margin-left: 94px;
	padding-bottom: 18px;
    line-height: 24px;
    font-size: 16px;
	font-family: 'Opensans Light', Arial, sans-serif;
    font-weight: lighter;
}

.block__link--recent-updates {
    margin-top: 5px;
    width: 463px;
}

/* BRENDS LOGO */

.brends {
	height: 115px;
	padding-bottom: 3px;
	border-top: 1px solid #fefefe;
	border-bottom: 1px solid #fefefe;
	background: #f9f9f9;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.brends__brends-320x,
.brends__brends-480x,
.brends__brends-960x {
	display: none;
}

/* FOOTER POSTS */

/* modificaror for footer blogs */

.x960-modify,
.tablet-menu {
	display: none;
}

/* end modificator*/

.section--footer-blog {
	padding-top: 95px;
	height: 300px;
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #fefefe;
	background: #ececec;
}

.block__article--footer-blog-1 {
	
	margin-top: 5px;
	margin-left: -2px;
}

.block__title--footer-blog {
    font-size: 24px;
	color:#454545;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
}

.block__content--footer-blog {
	width: 213px;
	height: 170px;
	margin-top: 10px;
	color: #787878;
}

.block__article--footer-blog-1 {
	margin-left: 19px;
}

.block__article--footer-blog-2 {
    margin-top: 6px;
    margin-left: 29px;
}

.block__article--footer-blog-3 {
    margin-top: 6px;
    margin-left: 36px;
}

footer {
	background: url('../../images/footer-background.jpg') no-repeat center bottom;
	height: 200px;
}

.menu--footer {
	margin-left: 19px;
}

.menu--footer  .menu__item {
	display: inline-block;
	margin-right: 39px;
	padding: 46px 0 2px 0;	
}

.menu--footer  .menu__item:last-child {
	margin-right: 0px;
}

.menu--footer  .menu__item:hover {
	border-bottom: 2px solid #edbfff;
}

.menu--footer  .menu__link {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
	color: #ffffff;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.designed {
	position: relative;
	width: 200px;
	top: 49px;
	right: 1px;
	padding-top: 53px;
    font-size: 12px;
	font-family: 'Opensans Light', Arial, sans-serif;
    color: #ffffff;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.designed span {
    font-size: 12px;
    font-family: 'open_sansextrabold', Arial, sans-serif;
    font-weight: 900;
    color: #ffffff;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

}
