@media only screen and (min-width: 960px) and (max-width: 2400px) {

header,
main,
footer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

/* MAKET */

.row {
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	width: 962px;
}

.col { overflow: hidden;
}

.col--1-1 { 
	width: 100%;
}

.col--1-2 {
	width: 481.2px;
}

.col--1-3 {
	width: 320.8px;
}

.col--7-12 {
	width: 561.4px;
}

.col--5-12 {
	width: 401px;
}

.col--1-8 {
	width: 641.6px;
}

.col--1-12 {
	width: 80.2px;
}

/* HEADER */

header {
	height: 846px;
	border-bottom: 1px solid #000;
	background: url('../../images/background.jpg') no-repeat center top;
}
	/* HEADER--logo */
.logo {
	color: white;
	font-size: 47px;
	padding-top: 66px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
}

.logo--shadow {
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.logo--gradient {
	background: -webkit-linear-gradient(#745083, #322539);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
	/* HEADER--menu */
.menu__item {
	display: inline-block;
	margin-right: 37px;
	padding: 74px 5px 2px 6px;	
}

.menu__item:last-child {
	margin-right: 0px;
	padding: 74px 0 2px 6px;		
}

.menu__item:hover {
	border-bottom: 2px solid #edbfff;
}

.menu__link {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 24px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
	color: #ffffff;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}
	/* HEADER--slider */
.row--slider-background {
	margin-top: 278px;
	height: 400px;
	width: 100%;
	background: #000;
	opacity: 0.2;
	position: absolute;
}

.slider-button-left {
	height: 34px;
	position: absolute;
	top: 180px;
    left: 5px;
}

.slider-button-right {
	height: 34px;
	position: absolute;
    top: 180px;
    right: 5px;
}

.slider-button-icons {
	height: 19px;
	position: relative;
	top: 492px;
    left: 817px;
}

.slider {
	margin-top: 254px;
}

.slider__title {
	line-height: 36px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
    font-size: 60px;
    color: #fefefe;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.slider__sub-title {
    padding-top: 10px;
    padding-bottom: 4px;
    line-height: 36px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
    font-size: 32px;
    color: #edbfff;
   	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.slider__content {
    line-height: 24px;
    padding-right: 40px;
	font-family: 'Opensans Light', Arial, sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: lighter;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.slider-image {
	position: relative;
    top: -106px;
    right: -54px;
}
/* <-- HEADER END --> */

/* ABOUT */
.section {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.section--about {
	border-bottom: 1px solid #0d151b;
	background: linear-gradient(to top, #322539 0%, #745083 100%);
	color: #fff;
	padding-top: 72px;
	padding-bottom: 67px;
}

.section__wrapper {
	width: 960px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.block {
	width: 320px;
	position: relative;
}

.block__icon {
	position: absolute;
}

.block__icon--blurb-1 {
	width: 25px;
	height: 50px;
    margin-top: 13px;
    margin-left: 10px;
	background: url(../../images/blurb-icons.png) 0 0 no-repeat;
}

.block__icon--blurb-2 {
	width: 28px;
	height: 50px;
    margin-top: 14px;
    margin-left: 27px;
	background: url(../../images/blurb-icons.png) -25px 0 no-repeat;
}

.block__icon--blurb-3 {
	width: 25px;
	height: 50px;
	margin-top: 12px;
	margin-left: 44px;
	background: url(../../images/blurb-icons.png) -52px 0 no-repeat;
}

.block__title {
	font-size: 30px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
	text-transform: uppercase;
}

.block__title--blurb-1 {
	margin-top: 4px;
	margin-left: 61px;	
	text-shadow: 1px 1px 0 #000; /* Параметры тени */
}

.block__title--blurb-2 {
	margin-top: 4px;
	margin-left: 80px;	
	text-shadow: 1px 1px 0 #000; /* Параметры тени */
}

.block__title--blurb-3 {
	margin-top: 4px;
	margin-left: 97px;	
	text-shadow: 1px 1px 0 #000; /* Параметры тени */
}

.block__content {
	font-size: 16px;
	line-height: 24px;
	font-family: 'Opensans Light', Arial, sans-serif;
	overflow: hidden;
	hyphens: manual;
}

.block__content--blurb-1 {
	width: 230px;
	margin-top: 8px;
	margin-left: 60px;
	height: 125px;
	text-shadow: 1px 1px 0 #000; /* Параметры тени */
}

.block__content--blurb-2 {
	width: 230px;
	margin-top: 8px;
	margin-left: 80px;
	height: 125px;
	text-shadow: 1px 1px 0 #000; /* Параметры тени */
}

.block__content--blurb-3 {
	width: 230px;
	margin-top: 8px;
	margin-left: 97px;
	height: 125px;
	text-shadow: 1px 1px 0 #000; /* Параметры тени */
}

.block__link {
    margin-top: 15px;
	font-size: 19px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
	text-transform: uppercase;
	text-align: right;
	display: block;
}

.block__link--first {
    margin-right: 41px;
}

.block__link--second {
    margin-right: 18px;
}

.block__link--third {
    margin-right: 1px;
}

.block__link:hover {
	text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
	cursor: pointer;
}


/* MAIN */
main {
	height: 485px;
	border-top: 1px solid #f9f9f9;
	border-bottom: 1px solid #e6e6e6;
	background: #f9f9f9;
}

.block--recent-updates,
.block__article--testimonials {
	margin-top: 127px;
}

.block__icon--testimonials {
	width: 47px;
	height: 47px;
}

.block__icon--testimonials,
.block__icon--recent-updates-1,
.block__icon--recent-updates-2,
.block__icon--recent-updates-3 {
	width: 47px;
	height: 47px;
    position: absolute;
    border-radius: 50px;
    left: 29px;
}

.block--testimonials {
	background: url('../../images/testimonials-background.png') 0 0 no-repeat;
	width: 428px;
	height: 325px;
	top: -30px;
	left: 23px;
}

.block__article--testimonials {
	margin-top: 127px;
	padding-top: 31px;
	padding-left: 40px;
	padding-right: 30px;
}

.block__icon--testimonials {
	top: 20px;
	left: -22px;
	background: url('../../images/testimonials-avatar.png') 0 0 no-repeat;
}

.block__title--testimonials {
	padding-bottom: 9px;
	color: #454545;
}

.testimonials__pages {
	position: absolute;
	width: 89px;
	height: 28px;
	top: 298px;
	left: 173px;
	background: url('../../images/testimonials-radio-buttons.png') 0 0 no-repeat;
}

.block__title--testimonials span {
	color:#edbfff;
}

.block__icon--recent-updates-1 {
    top: 47px;
    background: url('../../images/recent-update-icon.jpg') -176px -29px no-repeat;
}

.block__icon--recent-updates-2 {
    top: 114px;
    background: url('../../images/recent-update-icon.jpg') -157px -91px no-repeat;
}

.block__icon--recent-updates-3 {
    top: 178px;
    background: url('../../images/recent-update-icon.jpg') -90px -109px  no-repeat;
}

.block__title--recent-updates {
	margin-left: 28px;
	padding-bottom: 16px;
}

.block__sub-title--recent-updates {
	width: 380px;
	margin-left: 94px;
	line-height: 24px;
    font-size: 16px;
    font-family: 'open_sansextrabold', arial, sans-serif;
    font-weight: 900;
    color: #454545;
}

.block__content--recent-updates {
	width: 380px;
	margin-left: 94px;
	padding-bottom: 18px;
    line-height: 24px;
    font-size: 16px;
	font-family: 'Opensans Light', Arial, sans-serif;
    font-weight: lighter;
}

.block__link--recent-updates {
    margin-top: 5px;
    width: 463px;
}

/* BRENDS LOGO */

.brends {
	height: 114px;
	padding-bottom: 4px;
	border-top: 1px solid #fefefe;
	border-bottom: 1px solid #fefefe;
	background: #f9f9f9;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.brends__brends-320x,
.brends__brends-480x,
.brends__brends-768x {
	display: none;
}

/* FOOTER POSTS */

/* modificaror for footer blogs */

.x768-modify,
.tablet-menu {
	display: none;
}

/* end modificator*/

.section--footer-blog {
	padding-top: 96px;
	height: 300px;
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #fefefe;
	background: #ececec;
}

.block__article--footer-blog-1 {
	
	margin-top: 5px;
	margin-left: -2px;
}

.block__title--footer-blog-1 {
	line-height: 33.72px;
    font-size: 48px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
    color: #454545;
    letter-spacing: -0.4px;
}

.block__title--footer-blog-1>span {
	color:#b9b9b9;
}

.block__title--footer-blog-2,
.block__title--footer-blog-3 {
	color: #454545;
	margin-left: 16px;	
}

.block__date--footer-blog {
	padding-top: 18px;
	line-height: 24px;
	font-size: 16px;
	font-family: georgia, arial, sans-serif;
	font-style: italic;
	color: #c5c5c5;
	letter-spacing: -0.1px;
}

.block__content--footer-first-blog {
	width: 285px;
	height: 125px;
	margin-top: 6px;
	margin-left: 0;
	color: #787878;
}

.block__content--footer-blog {
	width: 285px;
	height: 170px;
	margin-top: 8px;
	margin-left: 17px;
	color: #787878;
}

.block__article--footer-blog-3 {
	margin-left: 20px;
}

footer {
	background: url('../../images/footer-background.jpg') no-repeat center bottom;
	height: 114px;
}

.menu--footer  .menu__item {
	display: inline-block;
	margin-right: 39px;
	padding: 46px 0 2px 0;	
}

.menu--footer  .menu__item:last-child {
	margin-right: 0px;
}

.menu--footer  .menu__item:hover {
	border-bottom: 2px solid #edbfff;
}

.menu--footer  .menu__link {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
	color: #ffffff;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.designed {
	text-align: right;
    padding-top: 53px;
    font-size: 12px;
	font-family: 'Opensans Light', Arial, sans-serif;
    color: #ffffff;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.designed>span {
    font-size: 12px;
    font-family: 'open_sansextrabold', Arial, sans-serif;
    font-weight: 900;
    color: #ffffff;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

}
