@media only screen and (min-width: 320px) and (max-width: 479px) {

header,
main,
footer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

/* MAKET */

.row {
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	width: 320px;
}

.col { overflow: hidden;
}

.col--1-1 { 
	width: 100%;
}

.col--1-2 {
	width: 240px;
}

.col--1-3 {
	width: 160px;
}

.col--7-12 {
	width: 280px;
}

.col--5-12 {
	width: 200px;
}

.col--1-8 {
	width: 320px;
}

.col--1-12 {
	width: 40px;
}

.row--480 {
	flex-direction: column;
}

.x480-1 {
	width: 260px;
}

.x480-2 {
	width: 220px;
}

.x768,
.x480-3,
.x320 {
	width: 100%;
}

/* modificaror for footer blogs */

.x960-modify,
.x320-modify,
.descktop-menu {
	display: none;
}

/* end modificator*/

/* HEADER */

/* TABLET MENU */

.tablet-menu {
    width: 244px;
	margin: 11px 0 0 38px;
}

.tablet-menu:hover {
    width: 244px;
    height: 46px;
    border: 1px solid #061116;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    background-color: rgba(54, 41, 62, 0.9);
}

.tablet-menu__item {
	position: relative;
	display: flex;
	width: 244px;
	line-height: 46px;
	justify-content: center;
	box-sizing: border-box;
	z-index: 1;
}

.tablet-menu__item:hover {
	position: relative;
	display: flex;
	width: 244px;
	line-height: 46px;
	justify-content: center;
	/*text-decoration: underline;*/
	border-top: 1px solid #58455f;
	border-bottom: 2px solid transparent;
	border-radius: 10px;
	box-sizing: border-box;
	z-index: 1;
}

.first-item {
    border-bottom: 2px solid #edbfff;
    padding: 0 5px 3px;
}

.tablet-menu__link {
	text-decoration: none;
	font-size: 24px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
	color: #ffffff;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
}

.tablet-sub-menu {
	display: none;
	position: absolute;
	width: 244px;
	height: 209px;
	left: -1px;
	top: 45px;
	border: 1px solid #061116;
	border-top: none;
	border-radius: 0 0 10px 10px;
	background-color: rgba(54, 41, 62, 0.9);
}

.tablet-sub-menu__item {
	display: flex;
	width: 244px;
	line-height: 39px;
	justify-content: center;
	border-top: 1px solid #58455f;
	border-bottom: 2px solid transparent;
	box-sizing: border-box;
}

.tablet-menu__item:hover .tablet-sub-menu {
	display: block;
	border-top: 1px solid #523f5a;
}

.tablet-sub-menu__item:hover {
	background: rgba(0, 0, 0, 0.3);
	border-bottom: 2px solid #edbfff;
}

/* teblet menu end */

/* HEADER */

header {
	height: 516px;
	border-bottom: 1px solid #000;
	background: url('../images/background.jpg') no-repeat center top;
}

	/* HEADER--logo */
.logo {
	color: white;
	font-size: 47px;
	padding-top: 66px;
    padding-bottom: 10px;
	padding-left: 83px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
}

.logo--shadow {
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.logo--gradient {
	background: -webkit-linear-gradient(#745083, #322539);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

	/* HEADER--slider */
.row--slider-background {
	margin-top: 203px;
	height: 246px;
	width: 100%;
	background: #000;
	opacity: 0.2;
	position: absolute;
}

.slider-button-left {
	height: 34px;
	position: absolute;
	top: 106px;
	left: 0;
}

.slider-button-right {
	height: 35px;
	position: absolute;
	top: 106px;
	right: 0;
}

.slider-button-icons {
	height: 19px;
	position: absolute;
    top: 227px;
    left: 123px;
}

.slider {
	margin-top: 118px;
	margin-left: 64px;
}

.slider__title {
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
	font-size: 36px;
	color: #fefefe;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.slider__sub-title {
    padding-top: 3px;
    padding-bottom: 1px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
    font-size: 18px;
    color: #edbfff;
   	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.hidden,
.slider__content {
	display: none;
}

.slider-image {
	position: relative;
	top: -101px;
	right: 42px;
	width: 192px;
}
/* <-- HEADER END --> */


/* ABOUT OUR COMPANY */
.section--about {
	border-bottom: 1px solid #0d151b;
	background: linear-gradient(to top, #322539 0%, #745083 100%);
	color: #fff;
	padding-top: 65px;
	padding-bottom: 66px;
}

.section__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.block {
	position: relative;
}

.block__icon--blurb-1 {
	width: 25px;
	height: 50px;
    margin-top: 9px;
    margin-left: 33px;
	background: url(../images/blurb-icons.png) 0 0 no-repeat;
	float: left;
}

.block__icon--blurb-2 {
	width: 25px;
	height: 50px;
    margin-top: 27px;
    margin-left: 34px;
	background: url(../images/blurb-icons.png) 0 0 no-repeat;
	float: left;	
}

.block__icon--blurb-3 {
	width: 25px;
	height: 50px;
	margin-top: 45px;
	margin-left: 34px;
	background: url(../images/blurb-icons.png) 0 0 no-repeat;
	float: left;	
}

.block__title {
	font-size: 24px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
	text-transform: uppercase;
}

.block__title--blurb-1 {
	margin-top: 5px;
	margin-left: 83px;	
	text-shadow: 1px 1px 0 #000; /* Параметры тени */
}

.block__title--blurb-2 {
	margin-top: 24px;
	margin-left: 83px;	
	text-shadow: 1px 1px 0 #000; /* Параметры тени */
}

.block__title--blurb-3 {
	margin-top: 40px;
	margin-left: 83px;	
	text-shadow: 1px 1px 0 #000; /* Параметры тени */
}

.block__content {
	font-size: 16px;
	line-height: 24px;
	font-family: 'Opensans Light', Arial, sans-serif;
	overflow: hidden;
	hyphens: manual;
}

.block__content--blurb-1 {
	margin-top: 4px;
	margin-left: 84px;
    margin-right: 24px;	
	height: 77px;
	text-shadow: 1px 1px 0 #000; /* Параметры тени */
}

.block__content--blurb-2 {
	margin-top: 3px;
	margin-left: 84px;
    margin-right: 24px;	
	height: 77px;
	text-shadow: 1px 1px 0 #000; /* Параметры тени */
}

.block__content--blurb-3 {
	margin-top: 4px;
	margin-left: 84px;
    margin-right: 24px;	
	height: 77px;
	text-shadow: 1px 1px 0 #000; /* Параметры тени */
}

.block__link {
    margin-top: 9px;
	font-size: 19px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
	text-shadow: 0 0 2px black; /* Параметры тени */
	text-transform: uppercase;
	text-align: right;
	display: block;
}

.block__link--first,
.block__link--second,
.block__link--third {
    margin-right: 24px;
}

.block__link:hover {
	text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
	cursor: pointer;
}

/* MAIN */
main {
	height: 784px;
	border-top: 1px solid #f9f9f9;
	border-bottom: 1px solid #e6e6e6;
	background: #f9f9f9;
}

.block__article--testimonials {
	margin-top: 11px;
}

.block__icon--testimonials {
	width: 47px;
	height: 47px;
}

.block__icon--testimonials,
.block__icon--recent-updates-1,
.block__icon--recent-updates-2,
.block__icon--recent-updates-3 {
	width: 47px;
	height: 47px;
    position: absolute;
    border-radius: 50px;
    left: 21px;
}

.block--testimonials {
	background: #fff;
    margin-left: 18px;
    margin-bottom: 20px;
    margin-right: 43px;
    height: 270px;
	top: -59px;
	left: 24px;
}

.block__article--testimonials {
    margin-top: 127px;
    padding-top: 23px;
    padding-left: 37px;
    padding-right: 30px;
	 width: 190px;
    height: 225px;
    overflow: hidden;
}

.block__icon--testimonials {
	top: 20px;
	left: -22px;
	background: url('../images/testimonials-avatar.png') 0 0 no-repeat;
}

.block__title--testimonials {
	padding-bottom: 2px;
    font-size: 26px;
    width: 140px;
    color: #454545;
}

.block__title--testimonials span {
	color:#edbfff;
}

.testimonials__pages {
	position: absolute;
	width: 89px;
	height: 28px;
	top: 296px;
    left: 98px;
	background: url('../images/testimonials-radio-buttons.png') 0 0 no-repeat;
}

.block--recent-updates {
	margin-left: 0px;
}

.block__icon--recent-updates-1 {
    top: 47px;
    background: url('../images/recent-update-icon.jpg') -176px -29px no-repeat;
}

.block__icon--recent-updates-2 {
    top: 114px;
    background: url('../images/recent-update-icon.jpg') -157px -91px no-repeat;
}

.block__icon--recent-updates-3 {
    top: 181px;
    background: url('../images/recent-update-icon.jpg') -90px -109px  no-repeat;
}

.block__title--recent-updates {
	padding-bottom: 16px;
	margin-top: 12px;
    margin-left: 18px;
	font-size: 30px;
}

.block__sub-title--recent-updates {
	width: 200px;
	height: 24px;
	overflow: hidden;
	margin-left: 85px;
	line-height: 24px;
	font-size: 16px;
	font-family: 'open_sansextrabold', arial, sans-serif;
	font-weight: 900;
	color: #454545;
}

.block__content--recent-updates {
    width: 254px;
    height: 24px;
    margin-left: 85px;
    line-height: 24px;
    font-size: 16px;
    font-family: 'Opensans Light', Arial, sans-serif;
    font-weight: lighter;
    overflow: hidden;
}

.block__article--recent-updates-2 {
	margin-top: 17px;
}

.block__article--recent-updates-3 {
	margin-top: 23px;
}

.block__link--recent-updates {
    margin-top: 17px;
    width: 294px;
}

/* BRENDS LOGO */

.brends {
	height: 395px;
	padding-bottom: 25px;
	border-top: 1px solid #fefefe;
	border-bottom: 1px solid #fefefe;
	background: #f9f9f9;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.brends__brends-480x,
.brends__brends-768x,
.brends__brends-960x {
	display: none;
}

.section--footer-blog {
	padding-top: 74px;
	height: 594px;
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #fefefe;
	background: #ececec;
}

.block__title--footer-blog {
    font-size: 24px;
	color:#454545;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
}

.block__content--footer-blog {
    width: 95%;
    height: 100px;
    margin-top: 9px;

	color: #787878;
}

.block__article--footer-blog-1 {
	margin-left: 18px;	
	margin-top: 5px;
}

.block__article--footer-blog-2 {
    margin-top: 52px;
    margin-left: 18px;
}

.block__article--footer-blog-3 {
    margin-top: 55px;
    margin-left: 18px;
}

footer {
	background: url('../images/footer-background.jpg') no-repeat center bottom;
	height: 200px;
}

.menu--footer {
	margin-left: 22px;
}

.menu--footer  .menu__item {
	display: inline-block;
	margin-right: 21px;
	padding: 45px 0 2px 0;	
}

.menu--footer  .menu__item:last-child {
	margin-right: 0px;
}

.menu--footer  .menu__item:hover {
	border-bottom: 2px solid #edbfff;
}

.menu--footer  .menu__link {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
	color: #ffffff;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.designed {
    position: relative;
    width: 200px;
	top: 7px;
    left: 91px;
    padding-top: 34px;
    font-size: 12px;
    font-family: 'Opensans Light', Arial, sans-serif;
    color: #ffffff;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.designed span {
    font-size: 12px;
    font-family: 'open_sansextrabold', Arial, sans-serif;
    font-weight: 900;
    color: #ffffff;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}


}

@media only screen and (min-width: 480px) and (max-width: 767px) {

header,
main,
footer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

/* MAKET */

.row {
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	width: 480px;
}

.col { overflow: hidden;
}

.col--1-1 { 
	width: 100%;
}

.col--1-2 {
	width: 240px;
}

.col--1-3 {
	width: 160px;
}

.col--7-12 {
	width: 280px;
}

.col--5-12 {
	width: 200px;
}

.col--1-8 {
	width: 320px;
}

.col--1-12 {
	width: 40px;
}

.row--480 {
	flex-direction: column;
}

.x768 {
	width: 100%;
}

.x480-1 {
	width: 260px;
}

.x480-2 {
	width: 220px;
}

.x480-3 {
	width: 100%;
}
/* modificaror for footer blogs */

.x960-modify,
.descktop-menu {
	display: none;
}

/* end modificator*/

/* HEADER */

/* TABLET MENU */

.tablet-menu {
    position: relative;
    width: 244px;
    height: 46px;
    margin: 18px 0 0 117px;
    border: 1px solid #061116;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    background-color: rgba(54, 41, 62, 0.9);
}

.tablet-menu__item {
	position: relative;
	display: flex;
	width: 244px;
	line-height: 46px;
	justify-content: center;
	/*text-decoration: underline;*/
	border-top: 1px solid #58455f;
	border-bottom: 2px solid transparent;
	border-radius: 10px;
	box-sizing: border-box;
	z-index: 1;
}

.first-item {
    border-bottom: 2px solid #edbfff;
    padding: 0 5px 3px;
}

.tablet-menu__link {
	text-decoration: none;
	font-size: 24px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
	color: #ffffff;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
}

.tablet-sub-menu {
	display: none;
	position: absolute;
	width: 244px;
	height: 209px;
	left: -1px;
	top: 45px;
	border: 1px solid #061116;
	border-top: none;
	border-radius: 0 0 10px 10px;
	background-color: rgba(54, 41, 62, 0.9);
}

.tablet-sub-menu__item {
	display: flex;
	width: 244px;
	line-height: 39px;
	justify-content: center;
	border-top: 1px solid #58455f;
	border-bottom: 2px solid transparent;
	box-sizing: border-box;
}

.tablet-menu__item:hover .tablet-sub-menu {
	display: block;
	border-top: 1px solid #523f5a;
}

.tablet-sub-menu__item:hover {
	background: rgba(0, 0, 0, 0.3);
	border-bottom: 2px solid #edbfff;
}

/* teblet menu end */

/* HEADER */

header {
	height: 548px;
	border-bottom: 1px solid #000;
	background: url('../images/background.jpg') no-repeat center top;
}

	/* HEADER--logo */
.logo {
	color: white;
	font-size: 47px;
	padding-top: 66px;
    padding-bottom: 26px;
	padding-left: 163px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
}

.logo--shadow {
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.logo--gradient {
	background: -webkit-linear-gradient(#745083, #322539);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

	/* HEADER--slider */
.row--slider-background {
	margin-top: 203px;
	height: 246px;
	width: 100%;
	background: #000;
	opacity: 0.2;
	position: absolute;
}

.slider-button-left {
	height: 34px;
	position: absolute;
	top: 106px;
	left: 0;
}

.slider-button-right {
	height: 35px;
	position: absolute;
	top: 106px;
	right: 0;
}

.slider-button-icons {
	height: 19px;
	position: absolute;
	top: 226px;
	left: 203px;
}

.slider {
	margin-top: 118px;
	margin-left: 39px;
}

.slider__title {
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
	font-size: 36px;
	color: #fefefe;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.slider__sub-title {
    padding-top: 3px;
    padding-bottom: 1px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
    font-size: 18px;
    color: #edbfff;
   	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.hidden,
.slider__content {
	display: none;
}

.slider-image {
	position: relative;
	top: -101px;
	right: 42px;
	width: 192px;
}
/* <-- HEADER END --> */


/* ABOUT */
.section--about {
	border-bottom: 1px solid #0d151b;
	background: linear-gradient(to top, #322539 0%, #745083 100%);
	color: #fff;
	padding-top: 72px;
	padding-bottom: 70px;
}

.section__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.block {
	position: relative;
}

.block__icon--blurb-1 {
	width: 25px;
	height: 50px;
    margin-top: 9px;
    margin-left: 33px;
	background: url(../images/blurb-icons.png) 0 0 no-repeat;
	float: left;
}

.block__icon--blurb-2 {
	width: 25px;
	height: 50px;
    margin-top: 27px;
    margin-left: 34px;
	background: url(../images/blurb-icons.png) 0 0 no-repeat;
	float: left;	
}

.block__icon--blurb-3 {
	width: 25px;
	height: 50px;
	margin-top: 33px;
	margin-left: 34px;
	background: url(../images/blurb-icons.png) 0 0 no-repeat;
	float: left;	
}

.block__title {
	font-size: 24px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
	text-transform: uppercase;
}

.block__title--blurb-1 {
	margin-top: 5px;
	margin-left: 83px;	
	text-shadow: 1px 1px 0 #000; /* Параметры тени */
}

.block__title--blurb-2 {
	margin-top: 24px;
	margin-left: 83px;	
	text-shadow: 1px 1px 0 #000; /* Параметры тени */
}

.block__title--blurb-3 {
	margin-top: 28px;
	margin-left: 83px;	
	text-shadow: 1px 1px 0 #000; /* Параметры тени */
}

.block__content {
	font-size: 16px;
	line-height: 24px;
	font-family: 'Opensans Light', Arial, sans-serif;
	overflow: hidden;
	hyphens: manual;
}

.block__content--blurb-1,
.block__content--blurb-2,
.block__content--blurb-3 {
	margin-left: 84px;
	margin-right: 24px;	
	height: 77px;
	text-shadow: 1px 1px 0 #000; /* Параметры тени */
}

.block__content--blurb-1 {
	margin-top: 4px;
}

.block__content--blurb-2 {
	margin-top: 3px;
}

.block__content--blurb-3 {
	margin-top: 4px;
}

.block__link {
    margin-top: 9px;
	font-size: 19px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
	text-shadow: 0 0 2px black; /* Параметры тени */
	text-transform: uppercase;
	text-align: right;
	display: block;
}

.block__link--first,
.block__link--second,
.block__link--third {
    margin-right: 24px;
}

.block__link:hover {
	text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
	cursor: pointer;
}

/* MAIN */
main {
	height: 785px;
	border-top: 1px solid #f9f9f9;
	border-bottom: 1px solid #e6e6e6;
	background: #f9f9f9;
}

.block__article--testimonials {
	margin-top: 11px;
}

.block__icon--testimonials {
	width: 47px;
	height: 47px;
}

.block__icon--testimonials,
.block__icon--recent-updates-1,
.block__icon--recent-updates-2,
.block__icon--recent-updates-3 {
	width: 47px;
	height: 47px;
    position: absolute;
    border-radius: 50px;
    left: 29px;
}

.block--testimonials {
	background: #fff;
    margin-left: 18px;
    margin-bottom: 20px;
    margin-right: 43px;
    height: 272px;
	top: -59px;
	left: 24px;
}

.block__article--testimonials {
    margin-top: 127px;
    padding-top: 29px;
    padding-left: 41px;
    padding-right: 30px;
    height: 205px;
    overflow: hidden;
}

.block__icon--testimonials {
	top: 20px;
	left: -22px;
	background: url('../images/testimonials-avatar.png') 0 0 no-repeat;
}

.block__title--testimonials {
	padding-bottom: 13px;
    font-size: 30px;
    width: 230px;
    color: #454545;
}

.block__title--testimonials span {
	color:#edbfff;
}

.block__content--testimonials {
	height: 200px;
}

.testimonials__pages {
	position: absolute;
	width: 89px;
	height: 28px;
    top: 297px;
    left: 163px;
	background: url('../images/testimonials-radio-buttons.png') 0 0 no-repeat;
}

.block--recent-updates {
	margin-left: 55px;
}

.block__icon--recent-updates-1 {
    top: 47px;
    background: url('../images/recent-update-icon.jpg') -176px -29px no-repeat;
}

.block__icon--recent-updates-2 {
    top: 114px;
    background: url('../images/recent-update-icon.jpg') -157px -91px no-repeat;
}

.block__icon--recent-updates-3 {
    top: 181px;
    background: url('../images/recent-update-icon.jpg') -90px -109px  no-repeat;
}

.block__title--recent-updates {
	padding-bottom: 16px;
	margin-top: 11px;
    margin-left: 28px;
	font-size: 30px;
}

.block__sub-title--recent-updates {
	width: 380px;
	margin-left: 95px;
	line-height: 24px;
    font-size: 16px;
    font-family: 'open_sansextrabold', arial, sans-serif;
    font-weight: 900;
    color: #454545;
}

.block__content--recent-updates {
	width: 380px;
	margin-left: 95px;
	padding-bottom: 18px;
    line-height: 24px;
    font-size: 16px;
	font-family: 'Opensans Light', Arial, sans-serif;
    font-weight: lighter;
}

.block__link--recent-updates {
	margin-top: 3px;
	width: 365px;
}

/* BRENDS LOGO */

.brends {
	height: 226px;
	padding-bottom: 4px;
	border-top: 1px solid #fefefe;
	border-bottom: 1px solid #fefefe;
	background: #f9f9f9;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.brends__brends-320x,
.brends__brends-768x,
.brends__brends-960x {
	display: none;
}

.section--footer-blog {
	padding-top: 74px;
	height: 594px;
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #fefefe;
	background: #ececec;
}

.block__title--footer-blog {
    font-size: 24px;
	color:#454545;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
}

.block__content--footer-blog {
    width: 95%;
    height: 100px;
    margin-top: 9px;

	color: #787878;
}

.block__article--footer-blog-1 {
	margin-left: 18px;	
	margin-top: 5px;
}

.block__article--footer-blog-2 {
    margin-top: 52px;
    margin-left: 18px;
}

.block__article--footer-blog-3 {
    margin-top: 55px;
    margin-left: 18px;
}

footer {
	background: url('../images/footer-background.jpg') no-repeat center bottom;
	height: 200px;
}

.menu--footer {
	margin-left: 22px;
}

.menu--footer  .menu__item {
	display: inline-block;
	margin-right: 21px;
	padding: 45px 0 2px 0;	
}

.menu--footer  .menu__item:last-child {
	margin-right: 0px;
}

.menu--footer  .menu__item:hover {
	border-bottom: 2px solid #edbfff;
}

.menu--footer  .menu__link {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
	color: #ffffff;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.designed {
    position: relative;
    width: 200px;
    top: 0px;
    left: 170px;
    padding-top: 34px;
    font-size: 12px;
    font-family: 'Opensans Light', Arial, sans-serif;
    color: #ffffff;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.designed span {
    font-size: 12px;
    font-family: 'open_sansextrabold', Arial, sans-serif;
    font-weight: 900;
    color: #ffffff;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}


}

@media only screen and (min-width: 768px) and (max-width: 959px) {

header,
main,
footer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

/* MAKET */

.row {
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	width: 768px;
}

.col { overflow: hidden;
}

.col--1-1 { 
	width: 100%;
}

.col--1-2 {
	width: 481.2px;
}

.col--1-3 {
	width: 320.8px;
}

.col--7-12 {
	width: 561.4px;
}

.col--5-12 {
	width: 401px;
}

.col--1-8 {
	width: 641.6px;
}

.col--1-12 {
	width: 80.2px;
}

.row--768 {
	flex-direction: column;
}

.x768 {
	width: 100%;
}

/* HEADER */

header {
	height: 798px;
	border-bottom: 1px solid #000;
	background: url('../images/background.jpg') no-repeat center top;
}

	/* HEADER--logo */
.logo {
	color: white;
	font-size: 47px;
	padding-top: 66px;
	padding-left: 20px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
}

.logo--shadow {
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.logo--gradient {
	background: -webkit-linear-gradient(#745083, #322539);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

	/* HEADER--menu */

.menu--top {
	margin-left: 13px;
}

.menu__item {
	display: inline-block;
	margin-right: 37px;
	padding: 32px 5px 2px 6px;	
}

.menu__item:last-child {
	margin-right: 0px;
	padding: 32px 0 2px 6px;		
}

.menu__item:hover {
	border-bottom: 2px solid #edbfff;
}

.menu__link {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 24px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
	color: #ffffff;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

	/* HEADER--slider */
.row--slider-background {
	margin-top: 244px;
	height: 400px;
	width: 100%;
	background: #000;
	opacity: 0.2;
	position: absolute;
}

.slider-button-left {
	height: 34px;
	position: absolute;
	top: 181px;
	left: 5px;
}

.slider-button-right {
	height: 35px;
	position: absolute;
	top: 182px;
	right: 5px;
}

.slider-button-icons {
	height: 19px;
	position: relative;
	top: 436px;
    left: 497px;
}

.slider {
	margin-top: 177px;
    margin-left: 42px;
}

.slider__title {
	line-height: 38px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
    font-size: 48px;
    color: #fefefe;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.slider__sub-title {
    padding-top: 6px;
    padding-bottom: 1px;
    line-height: 36px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
    font-size: 24px;
    color: #edbfff;
   	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.hidden  {
	display: none;
}

.slider__content {
	width: 285px;
	height: 100px;
	line-height: 26px;
    padding-right: 40px;
	font-family: 'Opensans Light', Arial, sans-serif;
    font-size: 16px;
    color: #ffffff;
    font-weight: lighter;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	hyphens: manual;
}

.slider-image {
	position: relative;
	top: -127px;
	right: 42px;
}
/* <-- HEADER END --> */


/* ABOUT */
.section--about {
	border-bottom: 1px solid #0d151b;
	background: linear-gradient(to top, #322539 0%, #745083 100%);
	color: #fff;
	padding-top: 71px;
	padding-bottom: 67px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.section__wrapper {
	width: 768px;
	display: flex;
	flex-direction: row;
}

.block {
	width: 256px;
	position: relative;
}

.block__icon {
	position: absolute;
}

.block__icon--blurb-1 {
	width: 25px;
	height: 50px;
    margin-top: 9px;
    margin-left: 33px;
	background: url(../images/blurb-icons.png) 0 0 no-repeat;
	display: inline-block;
}

.block__icon--blurb-2 {
	width: 25px;
	height: 50px;
    margin-top: 9px;
    margin-left: 29px;
	background: url(../images/blurb-icons.png) 0 0 no-repeat;
}

.block__icon--blurb-3 {
	width: 25px;
	height: 50px;
	margin-top: 9px;
	margin-left: 34px;
	background: url(../images/blurb-icons.png) 0 0 no-repeat;
}

.block__title {
	font-size: 24px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
	text-transform: uppercase;
}

.block__title--blurb-1 {
	margin-top: 5px;
	margin-left: 82px;	
	text-shadow: 1px 1px 0 #000; /* Параметры тени */
}

.block__title--blurb-2 {
	margin-top: 4px;
	margin-left: 78px;	
	text-shadow: 1px 1px 0 #000; /* Параметры тени */
}

.block__title--blurb-3 {
	margin-top: 4px;
	margin-left: 83px;	
	text-shadow: 1px 1px 0 #000; /* Параметры тени */
}

.block__content {
	font-size: 16px;
	line-height: 24px;
	font-family: 'Opensans Light', Arial, sans-serif;
	overflow: hidden;
	hyphens: manual;
}

.block__content--blurb-1 {
	width: 160px;
	margin-top: 4px;
	margin-left: 83px;
	height: 142px;
	text-shadow: 1px 1px 0 #000; /* Параметры тени */
}

.block__content--blurb-2 {
	width: 160px;
	margin-top: 4px;
	margin-left: 79px;
	height: 142px;
	text-shadow: 1px 1px 0 #000; /* Параметры тени */
}

.block__content--blurb-3 {
	width: 160px;
	margin-top: 4px;
	margin-left: 83px;
	height: 142px;
	text-shadow: 1px 1px 0 #000; /* Параметры тени */
}

.block__link {
    margin-top: 9px;
	font-size: 19px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
	text-shadow: 0 0 2px black; /* Параметры тени */
	text-transform: uppercase;
	text-align: right;
	display: block;
}

.block__link--first {
    margin-right: 24px;
}

.block__link--second {
    margin-right: 28px;
}

.block__link--third {
    margin-right: 24px;
}

.block__link:hover {
	text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
	cursor: pointer;
}


/* MAIN */
main {
	height: 485px;
	border-top: 1px solid #f9f9f9;
	border-bottom: 1px solid #e6e6e6;
	background: #f9f9f9;
}

.block--recent-updates,
.block__article--testimonials {
	margin-top: 127px;
}

.block__icon--testimonials {
	width: 47px;
	height: 47px;
}

.block__icon--testimonials,
.block__icon--recent-updates-1,
.block__icon--recent-updates-2,
.block__icon--recent-updates-3 {
	width: 47px;
	height: 47px;
    position: absolute;
    border-radius: 50px;
    left: 29px;
}

.block--testimonials {
	background: #fff;
	margin-left: 18px;
	margin-bottom: 20px;
    width: 317px;
    height: 272px;
	top: -30px;
	left: 23px;
}

.block__article--testimonials {
	margin-top: 127px;
	padding-top: 31px;
	padding-left: 40px;
	padding-right: 30px;
    height: 205px;
    overflow: hidden;
}

.block__icon--testimonials {
	top: 20px;
	left: -22px;
	background: url('../images/testimonials-avatar.png') 0 0 no-repeat;
}

.block__title--testimonials {
	padding-bottom: 7px;
	width: 130px;
	color: #454545;
}

.testimonials__pages {
	position: absolute;
	width: 89px;
	height: 28px;
    top: 297px;
    left: 117px;
	background: url('../images/testimonials-radio-buttons.png') 0 0 no-repeat;
}

.block__title--testimonials span {
	color:#edbfff;
}

.block__icon--recent-updates-1 {
    top: 47px;
    background: url('../images/recent-update-icon.jpg') -176px -29px no-repeat;
}

.block__icon--recent-updates-2 {
    top: 114px;
    background: url('../images/recent-update-icon.jpg') -157px -91px no-repeat;
}

.block__icon--recent-updates-3 {
    top: 178px;
    background: url('../images/recent-update-icon.jpg') -90px -109px  no-repeat;
}

.block__title--recent-updates {
	margin-left: 28px;
	padding-bottom: 16px;
	font-size: 30px;
}

.block__sub-title--recent-updates {
	width: 380px;
	margin-left: 94px;
	line-height: 24px;
    font-size: 16px;
    font-family: 'open_sansextrabold', arial, sans-serif;
    font-weight: 900;
    color: #454545;
}

.block__content--recent-updates {
	width: 380px;
	margin-left: 94px;
	padding-bottom: 18px;
    line-height: 24px;
    font-size: 16px;
	font-family: 'Opensans Light', Arial, sans-serif;
    font-weight: lighter;
}

.block__link--recent-updates {
    margin-top: 5px;
    width: 463px;
}

/* BRENDS LOGO */

.brends {
	height: 115px;
	padding-bottom: 3px;
	border-top: 1px solid #fefefe;
	border-bottom: 1px solid #fefefe;
	background: #f9f9f9;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.brends__brends-320x,
.brends__brends-480x,
.brends__brends-960x {
	display: none;
}

/* FOOTER POSTS */

/* modificaror for footer blogs */

.x960-modify,
.tablet-menu {
	display: none;
}

/* end modificator*/

.section--footer-blog {
	padding-top: 95px;
	height: 300px;
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #fefefe;
	background: #ececec;
}

.block__article--footer-blog-1 {
	
	margin-top: 5px;
	margin-left: -2px;
}

.block__title--footer-blog {
    font-size: 24px;
	color:#454545;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
}

.block__content--footer-blog {
	width: 213px;
	height: 170px;
	margin-top: 10px;
	color: #787878;
}

.block__article--footer-blog-1 {
	margin-left: 19px;
}

.block__article--footer-blog-2 {
    margin-top: 6px;
    margin-left: 29px;
}

.block__article--footer-blog-3 {
    margin-top: 6px;
    margin-left: 36px;
}

footer {
	background: url('../images/footer-background.jpg') no-repeat center bottom;
	height: 200px;
}

.menu--footer {
	margin-left: 19px;
}

.menu--footer  .menu__item {
	display: inline-block;
	margin-right: 39px;
	padding: 46px 0 2px 0;	
}

.menu--footer  .menu__item:last-child {
	margin-right: 0px;
}

.menu--footer  .menu__item:hover {
	border-bottom: 2px solid #edbfff;
}

.menu--footer  .menu__link {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
	color: #ffffff;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.designed {
	position: relative;
	width: 200px;
	top: 49px;
	right: 1px;
	padding-top: 53px;
    font-size: 12px;
	font-family: 'Opensans Light', Arial, sans-serif;
    color: #ffffff;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.designed span {
    font-size: 12px;
    font-family: 'open_sansextrabold', Arial, sans-serif;
    font-weight: 900;
    color: #ffffff;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

}

@media only screen and (min-width: 960px) and (max-width: 2400px) {

header,
main,
footer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

/* MAKET */

.row {
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	width: 962px;
}

.col { overflow: hidden;
}

.col--1-1 { 
	width: 100%;
}

.col--1-2 {
	width: 481.2px;
}

.col--1-3 {
	width: 320.8px;
}

.col--7-12 {
	width: 561.4px;
}

.col--5-12 {
	width: 401px;
}

.col--1-8 {
	width: 641.6px;
}

.col--1-12 {
	width: 80.2px;
}

/* HEADER */

header {
	height: 846px;
	border-bottom: 1px solid #000;
	background: url('../images/background.jpg') no-repeat center top;
}
	/* HEADER--logo */
.logo {
	color: white;
	font-size: 47px;
	padding-top: 66px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
}

.logo--shadow {
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.logo--gradient {
	background: -webkit-linear-gradient(#745083, #322539);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
	/* HEADER--menu */
.menu__item {
	display: inline-block;
	margin-right: 37px;
	padding: 74px 5px 2px 6px;	
}

.menu__item:last-child {
	margin-right: 0px;
	padding: 74px 0 2px 6px;		
}

.menu__item:hover {
	border-bottom: 2px solid #edbfff;
}

.menu__link {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 24px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
	color: #ffffff;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}
	/* HEADER--slider */
.row--slider-background {
	margin-top: 278px;
	height: 400px;
	width: 100%;
	background: #000;
	opacity: 0.2;
	position: absolute;
}

.slider-button-left {
	height: 34px;
	position: absolute;
	top: 180px;
    left: 5px;
}

.slider-button-right {
	height: 34px;
	position: absolute;
    top: 180px;
    right: 5px;
}

.slider-button-icons {
	height: 19px;
	position: relative;
	top: 492px;
    left: 817px;
}

.slider {
	margin-top: 254px;
}

.slider__title {
	line-height: 36px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
    font-size: 60px;
    color: #fefefe;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.slider__sub-title {
    padding-top: 10px;
    padding-bottom: 4px;
    line-height: 36px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
    font-size: 32px;
    color: #edbfff;
   	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.slider__content {
    line-height: 24px;
    padding-right: 40px;
	font-family: 'Opensans Light', Arial, sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: lighter;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.slider-image {
	position: relative;
    top: -106px;
    right: -54px;
}
/* <-- HEADER END --> */

/* ABOUT */
.section {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.section--about {
	border-bottom: 1px solid #0d151b;
	background: linear-gradient(to top, #322539 0%, #745083 100%);
	color: #fff;
	padding-top: 72px;
	padding-bottom: 67px;
}

.section__wrapper {
	width: 960px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.block {
	width: 320px;
	position: relative;
}

.block__icon {
	position: absolute;
}

.block__icon--blurb-1 {
	width: 25px;
	height: 50px;
    margin-top: 13px;
    margin-left: 10px;
	background: url(../images/blurb-icons.png) 0 0 no-repeat;
}

.block__icon--blurb-2 {
	width: 28px;
	height: 50px;
    margin-top: 14px;
    margin-left: 27px;
	background: url(../images/blurb-icons.png) -25px 0 no-repeat;
}

.block__icon--blurb-3 {
	width: 25px;
	height: 50px;
	margin-top: 12px;
	margin-left: 44px;
	background: url(../images/blurb-icons.png) -52px 0 no-repeat;
}

.block__title {
	font-size: 30px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
	text-transform: uppercase;
}

.block__title--blurb-1 {
	margin-top: 4px;
	margin-left: 61px;	
	text-shadow: 1px 1px 0 #000; /* Параметры тени */
}

.block__title--blurb-2 {
	margin-top: 4px;
	margin-left: 80px;	
	text-shadow: 1px 1px 0 #000; /* Параметры тени */
}

.block__title--blurb-3 {
	margin-top: 4px;
	margin-left: 97px;	
	text-shadow: 1px 1px 0 #000; /* Параметры тени */
}

.block__content {
	font-size: 16px;
	line-height: 24px;
	font-family: 'Opensans Light', Arial, sans-serif;
	overflow: hidden;
	hyphens: manual;
}

.block__content--blurb-1 {
	width: 230px;
	margin-top: 8px;
	margin-left: 60px;
	height: 125px;
	text-shadow: 1px 1px 0 #000; /* Параметры тени */
}

.block__content--blurb-2 {
	width: 230px;
	margin-top: 8px;
	margin-left: 80px;
	height: 125px;
	text-shadow: 1px 1px 0 #000; /* Параметры тени */
}

.block__content--blurb-3 {
	width: 230px;
	margin-top: 8px;
	margin-left: 97px;
	height: 125px;
	text-shadow: 1px 1px 0 #000; /* Параметры тени */
}

.block__link {
    margin-top: 15px;
	font-size: 19px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
	text-transform: uppercase;
	text-align: right;
	display: block;
}

.block__link--first {
    margin-right: 41px;
}

.block__link--second {
    margin-right: 18px;
}

.block__link--third {
    margin-right: 1px;
}

.block__link:hover {
	text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
	cursor: pointer;
}


/* MAIN */
main {
	height: 485px;
	border-top: 1px solid #f9f9f9;
	border-bottom: 1px solid #e6e6e6;
	background: #f9f9f9;
}

.block--recent-updates,
.block__article--testimonials {
	margin-top: 127px;
}

.block__icon--testimonials {
	width: 47px;
	height: 47px;
}

.block__icon--testimonials,
.block__icon--recent-updates-1,
.block__icon--recent-updates-2,
.block__icon--recent-updates-3 {
	width: 47px;
	height: 47px;
    position: absolute;
    border-radius: 50px;
    left: 29px;
}

.block--testimonials {
	background: url('../images/testimonials-background.png') 0 0 no-repeat;
	width: 428px;
	height: 325px;
	top: -30px;
	left: 23px;
}

.block__article--testimonials {
	margin-top: 127px;
	padding-top: 31px;
	padding-left: 40px;
	padding-right: 30px;
}

.block__icon--testimonials {
	top: 20px;
	left: -22px;
	background: url('../images/testimonials-avatar.png') 0 0 no-repeat;
}

.block__title--testimonials {
	padding-bottom: 9px;
	color: #454545;
}

.testimonials__pages {
	position: absolute;
	width: 89px;
	height: 28px;
	top: 298px;
	left: 173px;
	background: url('../images/testimonials-radio-buttons.png') 0 0 no-repeat;
}

.block__title--testimonials span {
	color:#edbfff;
}

.block__icon--recent-updates-1 {
    top: 47px;
    background: url('../images/recent-update-icon.jpg') -176px -29px no-repeat;
}

.block__icon--recent-updates-2 {
    top: 114px;
    background: url('../images/recent-update-icon.jpg') -157px -91px no-repeat;
}

.block__icon--recent-updates-3 {
    top: 178px;
    background: url('../images/recent-update-icon.jpg') -90px -109px  no-repeat;
}

.block__title--recent-updates {
	margin-left: 28px;
	padding-bottom: 16px;
}

.block__sub-title--recent-updates {
	width: 380px;
	margin-left: 94px;
	line-height: 24px;
    font-size: 16px;
    font-family: 'open_sansextrabold', arial, sans-serif;
    font-weight: 900;
    color: #454545;
}

.block__content--recent-updates {
	width: 380px;
	margin-left: 94px;
	padding-bottom: 18px;
    line-height: 24px;
    font-size: 16px;
	font-family: 'Opensans Light', Arial, sans-serif;
    font-weight: lighter;
}

.block__link--recent-updates {
    margin-top: 5px;
    width: 463px;
}

/* BRENDS LOGO */

.brends {
	height: 114px;
	padding-bottom: 4px;
	border-top: 1px solid #fefefe;
	border-bottom: 1px solid #fefefe;
	background: #f9f9f9;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.brends__brends-320x,
.brends__brends-480x,
.brends__brends-768x {
	display: none;
}

/* FOOTER POSTS */

/* modificaror for footer blogs */

.x768-modify,
.tablet-menu {
	display: none;
}

/* end modificator*/

.section--footer-blog {
	padding-top: 96px;
	height: 300px;
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #fefefe;
	background: #ececec;
}

.block__article--footer-blog-1 {
	
	margin-top: 5px;
	margin-left: -2px;
}

.block__title--footer-blog-1 {
	line-height: 33.72px;
    font-size: 48px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
    color: #454545;
    letter-spacing: -0.4px;
}

.block__title--footer-blog-1>span {
	color:#b9b9b9;
}

.block__title--footer-blog-2,
.block__title--footer-blog-3 {
	color: #454545;
	margin-left: 16px;	
}

.block__date--footer-blog {
	padding-top: 18px;
	line-height: 24px;
	font-size: 16px;
	font-family: georgia, arial, sans-serif;
	font-style: italic;
	color: #c5c5c5;
	letter-spacing: -0.1px;
}

.block__content--footer-first-blog {
	width: 285px;
	height: 125px;
	margin-top: 6px;
	margin-left: 0;
	color: #787878;
}

.block__content--footer-blog {
	width: 285px;
	height: 170px;
	margin-top: 8px;
	margin-left: 17px;
	color: #787878;
}

.block__article--footer-blog-3 {
	margin-left: 20px;
}

footer {
	background: url('../images/footer-background.jpg') no-repeat center bottom;
	height: 114px;
}

.menu--footer  .menu__item {
	display: inline-block;
	margin-right: 39px;
	padding: 46px 0 2px 0;	
}

.menu--footer  .menu__item:last-child {
	margin-right: 0px;
}

.menu--footer  .menu__item:hover {
	border-bottom: 2px solid #edbfff;
}

.menu--footer  .menu__link {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	font-family: 'Leaguegothic Regular', Arial, sans-serif;
	color: #ffffff;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.designed {
	text-align: right;
    padding-top: 53px;
    font-size: 12px;
	font-family: 'Opensans Light', Arial, sans-serif;
    color: #ffffff;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.designed>span {
    font-size: 12px;
    font-family: 'open_sansextrabold', Arial, sans-serif;
    font-weight: 900;
    color: #ffffff;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

}
